

{{ $srchVars := .SrchVars }}

<div class="col-xs-12">
<form action="" method="get" id="searchf">
    <table class="table table-striped table-condensed table-responsive table-hover">
        <thead>
            <tr class="info">
                <th><span><strong>Column </strong></span></th><th>Type</th><th>Collation</th>
                <th>Operator</th><th>Value</th>
            </tr>
        </thead>

        <tbody>
        {{range $mtv := .MetaDt.ShData}}
        <tr class="">
            {{$inpName := index $mtv 0}}
            {{$selName := printf "___selopertr___%s" $inpName}}
            {{$inpSlc := index $srchVars $inpName}}
            {{$selSlc := index $srchVars $selName}}
            {{$selVal := ""}}
            {{with $selSlc}}{{$selVal = index $selSlc 0}} {{else}} {{$selVal = ""}} {{end}}
            <td><span>{{$inpName}}</span></td><td>{{index $mtv 1}}</td><td>{{index $mtv 2}}</td>
            <td><select class="" name="___selopertr___{{$inpName}}">
                <option></option>
                <option {{if (eq $selVal "SQL")}}selected="selected"{{end}}>SQL</option>
            </select></td>
            <td><input class="col-xs-12" name="{{$inpName}}" type="text" 
                value="{{with $inpSlc}}{{index $inpSlc 0}}{{end}}"></td>
        </tr>
        {{end}}
    </tbody>
    </table>
    <div>
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>
</div>

