
<div class="col-xs-12">
<form action="" method="get" id="searchf">
    <table class="table table-condensed table-responsive table-hover">
        <thead>
            <tr class="info">
                <td><span><strong>Column Name</strong></span></td><td>Type</td><td>Collation</td>
            </tr>
        </thead>

        <tbody>

        <tr class="active">
            <td><span><strong>Username</strong></span></td><td>varchar(64)</td><td>utf8_general_ci</td>
        </tr>
        <tr>
            <td colspan="3">
                <input class="col-xs-12" name="inpname1" type="text">
            </td>
        </tr>

        <tr class="active">
            <td><span><strong>Username</strong></span></td><td>varchar(64)</td><td>utf8_general_ci</td>
        </tr>
        <tr>
            <td colspan="3">
                <input class="col-xs-12" name="inpname2" type="text">
            </td>
        </tr>

        <tr class="active">
            <td><span><strong>Username</strong></span></td><td>varchar(64)</td><td>utf8_general_ci</td>
        </tr>
        <tr>
            <td colspan="3">
                <input class="col-xs-12" name="inpname3" type="text">
            </td>
        </tr>

        </tbody>
    </table>
    <div>
        <input type="submit" value="Submit" class="btn btn-primary" />
    </div>
</form>
</div>