{{template "_head.html" .}}
{{$dbname := .dbname}}
{{$conK := -1}}
{{$tolow := .funcs.ToLow}}

<div class="container">
<div>
    <h3>
        {{if (eq .Navigation "listTables")}}{{$dbname}} tables 
        {{else if (eq .Navigation "tblContent")}}
        Database <a href="/dbname/{{$dbname}}">{{$dbname}}</a> - Table {{.dbtable}} 
        {{end}}
    </h3>
</div>

{{if eq .Navigation "tblContent"}}
<div class="panel panel-default">
    <div class="search-pan-head" id="search-pnl-head" data-toggle="collapse" data-target="#search-pnl-body">Search</div>
    <div class="panel-body search-pan-body collapse" id="search-pnl-body">
        {{template "_searchform.html" .}}
    </div>
</div>
{{end}}

{{template "_pagination.html" .}}

<table class="table table-responsive table-hover table-striped table-condensed">
    <thead><tr>
        {{range $hk, $hvalue := .ColNames}}
        {{if (eq (call $tolow $hvalue) "table_name")}}{{$conK = $hk}}{{end}}
        <th>
            {{$hvalue}} 
        </th>
        {{end}}
        </tr></thead>
    <tbody>
        {{range $bk, $bvalue := .ShData}}
        <tr>
            {{range $k, $v := $bvalue}}
            <td>
                {{if (eq $k $conK)}}
                <a href="/dbtable/{{$v}}/dbname/{{$dbname}}">{{$v}}</a>
                {{else}}
                {{$v}}
                {{end}}
            </td>
            {{end}}
        </tr>
        {{end}}
    </tbody>
</table>

{{template "_pagination.html" .}}
</div>

</body>

</html>
